body, body * {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
}

body {
    background-color: #40a63d1a;
}

/* Write all your CSS here! */

header {
    display: flex;
    justify-content: space-between;
    margin: 16px;
  
}
.icon-flex {
      display: flex;
    flex-direction: row;
}
.icon-flex p, b {
    color:#df103c;
    font-size: 20px;
}
.icon-flex >img {
    height: 40px;
    width: 40px;
}
.menu {
    height: 50px;
    background-color: #494949;
    color: white;
    padding: 8px;
}
.nav-item a {
    color: white;
    font-size: 12px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 26px;
}
.card {
    width: 100%;
    max-width :600px !important;
    border-radius: none;

}
.card-body {
    display: flex;
    justify-content: space-between;
}
#card-text i {
  color: #5ea32a;
}
.fas {
    font-size: 20px;
}
span {
    font-weight: normal;
}
.green {
    color: #5ea32a;
}
.btn {
    border-radius: unset !important;
}
.menu-section {
    margin-top: 50px;
}
 em {
    color: white;
}
.menu-section .card-body{
    display: block;
    height: 500px;
   
}

#title {
    margin: 16px;
}
.ham {
     background-color: #494949;
    display: none;
    border: none;
}
.ham i {
        color: white;
        font-size: 30px;
        
    }

@media screen and (max-width: 600px) {
    .ham {
        display: block;
    }
    
}